html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: #F3F3F3;
}

.container {
  width: 700px;
}

h1 {
  margin-bottom: 20px;
}

h1 small {
  line-height: 20px;
}

.btn-toolbar {
  margin-top: 4px;
}

a img, a i {
  opacity: 0.6;
}

a:hover img, a:hover i {
  opacity: 0.8;
  text-decoration: none;
}

a.danger i {
  opacity: 0.8;
}

a.danger:hover i {
  opacity: 0.9;
}

i {
  background-image: url(/assets/glyphicons-halflings-sprite.png);
}

.white, .btn.danger i, .btn.primary i {
  background-image: url(/assets/glyphicons-halflings-sprite-w.png);
}

.pagination ul {
  background: #FAFAFA;
}

.table {
  background: #FFF;
  box-shadow: inset 0 0 3px #E0E0E0;
}