html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background: #F3F3F3;
}

.container {
  width: 700px;
}

h1 {
  margin-bottom: 20px;
}

h1 small {
  line-height: 20px;
}

.btn-toolbar {
  margin-top: 4px;
}

a img, a i {
  opacity: 0.6;
}

a:hover img, a:hover i {
  opacity: 0.8;
  text-decoration: none;
}

a .icon-white {
  opacity: 0.8;
}

a:hover .icon-white {
  opacity: 0.9;
}

.nav .label {
  background: none;
  color: #999;
  margin: 0px;
  padding: 0px;
}

.nav a:hover .label {
  color: #666;
}

.pagination ul {
  background: #FAFAFA;
}