<%= form_for(paste) do |f| %>
  <%= f.text_area :code, :spellcheck => false, :class => "paste-code" %>
  <div class="clearfix paste-actions">
    Syntax:
    <%= f.select(:syntax, Paste.syntax_options) %>

    <%= f.submit "Paste code", :class => "btn primary" %>
  </div>
<% end %>
