<% content_for :title, "Browse pastes" %>

<div class="row">
  <div class="span3">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav list">
        <li class="active"><a href="#"><i class="home"></i> All pastes</a></li>
        <li><a href="#"><i class="lock"></i> Your pastes</a></li>
        <li><a href="#"><i class="th-large"></i> Algo</a></li>
        <li>&nbsp;</li>
        <li><a href="#"><i class="cog"></i> Manage groups</a></li>
      </ul>
    </div>
  </div>
  <div class="span6">
    <ul class="pastes nav pills stacked">
      <% pastes.each do |paste| %>
      <li>
        <%= link_to paste do %>
          <span class="date pull-right"><%= "#{time_ago_in_words(paste.created_at)} ago" %></span>
          <i class="file"></i> <%= paste.name.presence || raw("<em>unnamed</em>") %>
        <% end %>
      </li>
      <% end %>
    </ul>

    <%= paginate(pastes, :theme => 'twitter-bootstrap') %>
  </div>
</div>
