<% content_for :title, "My pastes" %>

<p><%= link_to 'New Paste', new_paste_path %></p>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% pastes.each do |paste| %>
  <tr>
    <td><%= link_to 'Show', paste %></td>
    <td><%= link_to 'Edit', edit_paste_path(paste) %></td>
    <td><%= link_to 'Destroy', paste, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
