<%= link_to "New paste", root_path, :style => "float: right;" %>

<h1>Show paste</h1>

<%= link_to "Download raw file", download_paste_path(paste), :class => "download" %>

<div class="code-container">
  <%= raw(paste.highlighted) %>
  <div class="line-numbers"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var num = $('.highlight').html().split("\n").length;
    for (i = 1; i < num; i++) {
      $('.line-numbers').append(i+"<br />");
    }
  })
</script>